<div class="d-flex flex-column gap-3">
    @for (leave of reminders; track $index) {
    <div class="d-flex align-items-center bg-light rounded-3 shadow-sm p-3">
        <i class="fa-solid fa-circle-exclamation text-warning me-3 fs-4"></i>
        <div class="text-dark">
            <strong>{{ leave.type }}</strong> leave is ending in
            @if (leave.daysLeft > 0) {
            <span>{{ leave.daysLeft }} day(s)</span>
            }
            @else {
            <span>less than a day</span>
            }
        </div>
    </div>
    }
</div>